# Node.js dependencies
node_modules/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
debug.log*
output.log

# Build files
dist/
build/
.tmp/
.cache/

# Database files
*.sqlite
*.sqlite-journal
/sequelize-data/
db.sqlite3


# VSCode settings
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml


# Others
*.bak
*.swp
